.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ddd; /* Цвет-заглушка */
    background-image: url("video/photo.jpg"); /* Используем изображение из папки "images" */
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  